## Preprocessing

In [100]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [101]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(['EIN'], 1)

<ipython-input-101-9e116dc3fd16>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(['EIN'], 1)

In [102]:
# Determine the number of unique values in each column.

application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [103]:
# Look at NAME value counts for binning

name_counts= application_df['NAME'].value_counts()
name_counts[name_counts>100]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: NAME, dtype: int64

In [104]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`

name_to_replace= list(name_counts[name_counts<100].index)

# Replace in dataframe
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [105]:
# Look at APPLICATION_TYPE value counts for binning

app_counts= application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [106]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace= list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [107]:
# Look at CLASSIFICATION value counts for binning

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [108]:
from pandas.core.base import value_counts
# You may find it helpful to look at CLASSIFICATION value counts >1

class_counts= application_df['CLASSIFICATION'].value_counts()
class_counts[class_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [109]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace= list(class_counts[class_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [110]:
# Convert categorical data to numeric with `pd.get_dummies`

app_df=pd.get_dummies(application_df)

In [111]:
# Split our preprocessed data into our features and target arrays
y = app_df['IS_SUCCESSFUL'].values
X = app_df.drop('IS_SUCCESSFUL',1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

<ipython-input-111-d1cfa54fad3a>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = app_df.drop('IS_SUCCESSFUL',1).values

In [112]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [113]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  30
hidden_nodes_layer2 = 20
hidden_nodes_layer3 = 20
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation= 'relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation= 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 30)                2250

 dense_25 (Dense)            (None, 20)                620

 dense_26 (Dense)            (None, 20)                420

 dense_27 (Dense)            (None, 1)                 21

=================================================================
Total params: 3,311
Trainable params: 3,311
Non-trainable params: 0
_________________________________________________________________

In [114]:
# Compile the model

nn.compile(loss="binary_crossentropy", metrics=["accuracy"])

In [115]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5257 - accuracy: 0.7345
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5006 - accuracy: 0.7513
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4977 - accuracy: 0.7536
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4963 - accuracy: 0.7537
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4946 - accuracy: 0.7556
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4940 - accuracy: 0.7555
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4938 - accuracy: 0.7561
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4930 - accuracy: 0.7568
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4925 - accuracy: 0.7577
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4929 - accuracy: 0.7574
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4922 - accuracy: 0.7576
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4918 - accuracy: 0.7584
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4919 - accuracy: 0.7568
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4917 - accuracy: 0.7590
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4920 - accuracy: 0.7589
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4918 - accuracy: 0.7589
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4916 - accuracy: 0.7577
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4916 - accuracy: 0.7581
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4913 - accuracy: 0.7582
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4909 - accuracy: 0.7585
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4911 - accuracy: 0.7594
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4909 - accuracy: 0.7584
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4909 - accuracy: 0.7574
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4908 - accuracy: 0.7587
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4908 - accuracy: 0.7585
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4907 - accuracy: 0.7586
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4902 - accuracy: 0.7584
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4905 - accuracy: 0.7588
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4898 - accuracy: 0.7582
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4902 - accuracy: 0.7588
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4904 - accuracy: 0.7598
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4905 - accuracy: 0.7595
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4899 - accuracy: 0.7580
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4903 - accuracy: 0.7599
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4899 - accuracy: 0.7591
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4902 - accuracy: 0.7599
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4902 - accuracy: 0.7594
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4898 - accuracy: 0.7595
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4897 - accuracy: 0.7596
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4899 - accuracy: 0.7586
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4895 - accuracy: 0.7589
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4899 - accuracy: 0.7594
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4900 - accuracy: 0.7601
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4899 - accuracy: 0.7599
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4896 - accuracy: 0.7601
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4885 - accuracy: 0.7595
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4893 - accuracy: 0.7591
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4893 - accuracy: 0.7603
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4896 - accuracy: 0.7591
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4892 - accuracy: 0.7594

In [116]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4912 - accuracy: 0.7628 - 677ms/epoch - 3ms/step
Loss: 0.491243451833725, Accuracy: 0.7627988457679749

In [117]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [118]:
nn.save('..\Desktop\bootcamp\repos\deep-learning-challenge\AlphabetSoupCharity_Optimization.h5')

In [119]:
nn.save('AlphabetSoupCharity_Optimization.h5')